<p id="notice"></p>
<div class="container">

  <div class="row">
    <div class="offset-md-1">
      <h5 class="bg-light text-dark">商品新規登録</h5>
    </div>
  </div>

  <%= form_with model: [:admin, @product], url: admin_products_path, method: :post do |f| %>

  <div class="row mb-3">
    <%= f.label :image, "商品画像", class: "col-md-2 offset-md-2" %>
    <div class="col-md-5">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :name, "商品名", class: "col-md-2 offset-md-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :introduction, "商品説明", class: "col-md-2 offset-md-2 form-label" %>
    <div class="col-md-5">
      <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :genre_id, "ジャンル", class: "col-md-2 offset-md-2 form-label" %>
    <div class="col-md-5">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: '--選択してください--' } %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :price, "税抜き価格", class: "col-md-2 offset-md-2 col-form-label" %>
    <div class="col-md-5">
      <%= f.text_field :price, placeholder: "1000", class: "form-control" %>円
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :is_active, "販売ステータス", class: "col-md-2 offset-md-2 col-form-label" %>
    <div class="col-md-1">
      <%= f.radio_button :is_sold, true, class: "form-check-input" %>
      <%= f.label :is_active, "販売中", class: "form-check-label" %>
    </div>
    <div class="col-md-2">
      <%= f.radio_button :is_sold, false, class: "form-check-input" %>
      <%= f.label :is_not_active, "販売停止中", class: "form-check-label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= f.submit '新規登録', class: "btn btn-success" %>
    </div>
  </div>

  <% end %>

</div>
