<p id="notice"></p>
<div class="container">

  <div class="row">
    <h5 class="bg-light text-dark">ログイン</h5>
  </div>

  <div class="row">
    <p class="ml-3 bg-light text-dark">会員の方はこちらからログイン</p>
  </div>


    <%= form_with model: @customer, url: customer_session_path do |f| %>

      <div class="row mb-3">
        <%= f.label :メールアドレス, class: "col-md-2 offset-md-1 col-form-label" %>
        <div class="col-md-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :パスワード, class: "col-md-2 offset-md-1 col-form-label" %>
        <div class="col-md-6">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-2 offset-md-3">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>


  <div class="row">
    <p class="ml-3 bg-light text-dark">会員登録がお済みでない方</p>
  </div>

  <div class="row">
    <div class="offset-md-2"><%= render "public/shared/links" %></div>
    <div>から新規登録を行なってください。</div>
  </div>

</div>